@use "../sass/_responsive" as *;
// style home page
.Home {
  position: relative;
  margin-top: 5vh;

  // header style
  header {
    position: fixed;
    top: 0;
    z-index: 10;
    .themeChange {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 15px;
      span {
        display: flex;
        align-items: center;
      }
    }
  }
  // left section style (inputs)
  .leftSection {
    float: left;
    padding: 0;
    margin: 0px;
    overflow-y: scroll;
    height: calc(100vh - 38.25px);
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  // right scetion value (phone)
  .rightSection {
    height: calc(100vh - 38.25px);
    position: relative;
    float: right;
  }
  /*************Responsive***************/
  @include breakpoint(smallphone) {
    margin-top: 0vh;
    flex-direction: column-reverse;

    header {
      justify-content: space-between;
      align-items: center;
      button {
        span {
          font-size: 12px;
          span {
            margin: 0;
            margin-left: 5px;
            svg {
              font-size: 14.5px !important;
            }
          }
        }
      }
      .themeChange span {
        font-size: 12px;
        text-align: center;
        justify-content: center;
      }
    }
    .rightSection {
      .container {
        width: 300px;
      }
    }
  }
  @include breakpoint(mediumSc) {
    flex-direction: column-reverse;
    header {
      justify-content: center;
      button {
        span {
          font-size: 14px;
          span {
            svg {
              font-size: 15px !important;
            }
          }
        }
      }

      p {
        height: 100%;
        font-size: 14px;
        justify-content: end;
      }
    }
  }
  @include breakpoint(largeSc) {
    flex-direction: row;
    header {
      justify-content: center;
      div {
        justify-content: start;
        button {
          span {
            font-size: 15px;
            align-items: center;
            span {
              svg {
                font-size: 18px !important;
              }
            }
          }
        }
      }
      p {
        height: 100%;
        font-size: 18px;
        justify-content: end;
      }
    }
  }
  @include breakpoint(XlargeSc) {
    flex-direction: row;
    header {
      justify-content: center;
      div {
        justify-content: start;
        button {
          span {
            font-size: 15px;
            align-items: center;
            span {
              svg {
                font-size: 18px !important;
              }
            }
          }
        }
      }
      p {
        height: 100%;
        font-size: 18px;
        justify-content: end;
      }
    }
  }
}
