// style phone section
.rightSection {
  .hidden {
    display: none !important;
  }
  .container {
    padding: 20px 10px;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    overflow-y: scroll;
    width: 330px;
    max-width: 350px;
    height: 600px;
    max-height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    // social links
    .socialLinks {
      margin-top: 20px;
      gap: 7px;
      .link {
        font-size: 23px;
        a {
          color: inherit;
        }
      }
    }
    // other links
    .moreLinks {
      margin-top: 10px;
      li {
        margin-bottom: 10px;
        padding: 10px 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 5px;
          i {
            font-size: 15px;
          }
          p {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
