@use "./_responsive" as *;
// style all section
.leftSection {
  section {
    padding: 20px 0px;
    width: 100%;
    position: relative;
    &::after {
      content: "";
      bottom: 0%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: white;
      position: absolute;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }

    .hidden {
      display: none;
    }
    .section-info {
      margin-bottom: 15px;
    }
    // main style for all section
    .section-inputs,
    .link-holder {
      padding: 20px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      .input-info {
        display: flex;
        flex-direction: column;
        label {
          padding: 5px 0px;
        }
        input,
        textarea {
          padding: 5px;
          outline: none;
        }
      }
    }

    // edit in style in social links section
    &.social-links {
      .section-inputs {
        div {
          justify-content: space-around;
          label {
            margin-bottom: 5px;
          }
          .link-icon {
            margin-bottom: 10px;
            position: relative;
            padding: 0px;
            svg {
              font-size: 25px;
              top: 50%;
              left: 0px;
              position: absolute;
              height: 100%;
              padding: 2px 5px;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
            }
            input {
              padding: 5px 0px 5px 30px;
              width: 100%;
              outline: none;
            }
          }
        }
      }
    }
    // edit in style in other links section
    &.more-links {
      margin-top: 8px;
      .section-info {
        a {
          text-decoration: underline;
          width: fit-content;
        }
      }
      .add-btn {
        border: none;
        padding: 10px 0px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        svg {
          font-size: 30px;
        }
        &:hover {
          svg {
            color: white;
          }
        }
        &.hidden {
          display: none;
          svg {
            display: none;
          }
        }
      }
      .link-holder {
        justify-content: space-around;
        position: relative;
        margin-bottom: 30px;
        .input-info {
          display: flex;
          justify-content: start;
          flex-direction: column;
          input {
            width: 100%;
            border: 1px solid #ddd;
            padding: 3px 6px;
          }
        }
        svg {
          color: red;
          position: absolute;
          right: -12px;
          top: -12px;
          font-size: 35px;
          display: none;
        }
        &:hover svg {
          display: flex;
        }
      }
    }
    /****** responsive *********/
    @include breakpoint(smallphone) {
      flex-direction: column;
      .input-info,
      .section-inputs {
        div {
          justify-content: center;
        }
        input {
          font-size: 14px;
        }
        label {
          font-size: 14px;
        }
      }
    }
    @include breakpoint(mediumSc) {
      .input-info,
      .section-inputs {
        input {
          font-size: 14px;
        }
        label {
          font-size: 14px;
        }
      }
    }
    @include breakpoint(largeSc) {
    }
    @include breakpoint(XlargeSc) {
    }
  }
}
