@use "./sass/_responsive" as *;
.Home {
  max-height: 100vh;
  overflow: hidden;
  .leftSection {
    float: left;
    background-color: #f1f5f9;
    padding: 0;
    margin: 0px;
    .sections {
      overflow-y: scroll;
      max-height: 95vh;
    }
  }
  header {
    background-color: white;
    border-top: #ddd solid 1px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      button,
      a {
        padding: 0px 12px;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        &:not(:nth-child(1)) {
          border-left: solid 1px #ddd;
        }
        a {
          color: black;
        }
        p {
          font-size: 14px;
        }
      }
    }
    .copyright {
      padding-right: 10px;
      text-align: end;
    }
  }
  .rightSection {
    float: right;
    padding: 0;
    margin: 0px;
  }
  /*************Responsive***************/
  @include breakpoint(smallphone) {
    header {
      justify-content: center;
      button,
      a {
        font-size: 13px;
        p,
        svg {
          font-size: 13px !important;
        }
      }
    }
  }
}
